.main {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
}

.post-title {
    margin-left: 0px;
}

.post-author-profile, .comment-author-profile {
    width: 30px;
    height: 30px;
    background-color: #F4F5F7;
    border-radius: 50%; /* 원형으로 프로필 이미지를 표시 */
    margin-bottom: 10px;
    object-fit: cover;
}

.post-author-profile img {
    border-radius: 50%;
}

.info1 {
    display: flex;
}

.author-name {
    margin-left: 10px;
    margin-top: 5px;
}

.post-date {
    margin-top: 5px;
    margin-left: 20px;
}

hr {
    border-color: #D9D9D9;
    border-width: 0.5px;
}

a {
    cursor: pointer;
}

.post-image {
    width: 100%;
    height: 100%;
}

.post-text {
    font-size: 13px;
}

.info2 {
    display: flex;
    justify-content: center;
}

.info-hits,
.info-comments {
    text-align: center;
    margin: 20px 5px;
    background-color: #D9D9D9;
    width: 100px;
    padding: 10px 0;
    border-radius: 10px;
}

.comment-register-space {
    background-color: white;
    margin-bottom: 20px;
    width: 100%;
    height: 130px;
    border-radius: 10px;
}

.input-comment {
    border: none;
    padding: 10px;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    outline: none;
    border-radius: 10px;
    background-color: white;
}

.current-comment-info {
    display: flex;
    height: 30px;
}

.current-comment-text {
    margin-left: 40px;
    margin-bottom: 20px;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* 부모 요소 .dropdown을 기준으로 절대 위치로 설정합니다. */
    background-color: #D9D9D9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 10%;
    /* 부모 요소 .dropdown 바로 아래에 나타나도록 설정합니다. */
    left: 55%;
    /* 부모 요소 .dropdown과 왼쪽 정렬됩니다. */
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}

/* 모달 배경 */
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정 배경 */
    z-index: 50; /* 모달보다 뒤에 위치 */
    display: none;
}

/* 모달 */
.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    z-index: 51; /* 모달보다 앞에 위치 */
    display: none;
}

.dialog {
    text-align: center;
}

#toastMessage {
    position: fixed;
    bottom: 20px; /* 화면 하단으로 설정 */
    left: 50%; /* 가운데 정렬을 위해 왼쪽으로 이동 */
    transform: translateX(-50%);
    background-color: #ACA0EB;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    display: none; /* 처음에는 보이지 않도록 설정 */
    z-index: 9999; /* 다른 요소 위에 표시하기 위해 z-index 설정 */
}
