.login-form {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.title-login {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 25px;
}

input[type="text"], input[type="password"] {
    width: 100%;
}

.input-text {
    height: 25px;
    margin-top: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid;
}

.input-titles {
    font-size: 15px;
    margin-top: 20px;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.helper-text {
    color: red;
    visibility: hidden;
    /* margin-bottom: 20px; */
}

.icons {
    position: relative;
    top: 5px;
    width: 30px;
}

.icons2 {
    position: relative;
    top: 10px;
    width: 30px;
}

#login-button {
    width: 100%;
    color: white;
    background-color: #7fb3f3;
    height: 30px;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    margin-top: 20px;
}