.title-create-post {
    text-align: center;
    font-size: 24px;
    margin: 30px 0;
}

.create-post-form {
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
}

.title-input-title,
.title-input-content,
.title-input-image {
    font-size: 15px;
    margin-top: 20px;
}

.input-title {
    border: none;
    border-top: 0.5px solid #D9D9D9;
    /* 위쪽 가로선 스타일 */
    border-bottom: 0.5px solid #D9D9D9;
    /* 아래쪽 가로선 스타일 */
    padding: 10px;
    /* 텍스트와 테두리 사이 여백 */
    width: 100%;
    /* 너비 */
    box-sizing: border-box;
    /* 테두리를 포함한 요소의 크기 지정 */
    outline: none;
    /* 포커스 효과 제거 */
    background-color: transparent;
}

.input-content {
    border: none;
    border-top: 0.5px solid #D9D9D9;
    /* 위쪽 가로선 스타일 */
    border-bottom: 0.5px solid #D9D9D9;
    /* 아래쪽 가로선 스타일 */
    padding: 10px;
    /* 텍스트와 테두리 사이 여백 */
    width: 100%;
    /* 너비 */
    height: 200px;
    box-sizing: border-box;
    /* 테두리를 포함한 요소의 크기 지정 */
    outline: none;
    /* 포커스 효과 제거 */
    background-color: transparent;
}

a {
    cursor: pointer;
    /* 마우스 커서를 포인터로 변경하여 버튼임을 나타냄 */
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    /* 부모 요소 .dropdown을 기준으로 절대 위치로 설정합니다. */
    background-color: #D9D9D9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 10%;
    /* 부모 요소 .dropdown 바로 아래에 나타나도록 설정합니다. */
    left: 55%;
    /* 부모 요소 .dropdown과 왼쪽 정렬됩니다. */
    text-align: center;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}