.modify-profile-form {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.title-modify-profile {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 25px;
}

.input-titles {
    font-size: 15px;
    margin-top: 10px;
}

.modify-profile-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.input-name {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid;
}

a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

a {
    cursor: pointer;
}

.show {
    display: block;
}

#updateProfileHelperText {
    color: red;
    position: absolute;
    visibility: hidden;
    margin-top: 5px;
}

#toastMessage {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ACA0EB;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: none;
    z-index: 9999;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50;
    display: none;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-color: white;
    z-index: 51; /* 모달보다 앞에 위치 */
    display: none;
}

#withdrawText {
    text-align: center;
}