.modify-password-form {
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.title-modify-password {
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 25px;
    margin-bottom: 50px;
}

.input-titles {
    font-size: 15px;
    margin-top: 35px;
}

.input-text {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid;
}

.show {
    display: block;
}

.helper-text {
    color: red;
    position: absolute;
    visibility: hidden;
    margin-top: 5px;
}

#toastMessage {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ACA0EB;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: none;
    z-index: 9999;
}